/*---------------------------------------
    style.css is intended to be used for user interface and non-admin pages
-----------------------------------------*/

@font-face {
  font-family: "Plain";
  src: url("../public/fonts/Plain-Regular.woff2") format("woff2"),
    url("../public/fonts/Plain-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Plain";
  src: url("../public/fonts/Plain-Light.woff2") format("woff2"),
    url("../public/fonts/Plain-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Plain";
  src: url("../public/fonts/Plain-Bold.woff2") format("woff2"),
    url("../public/fonts/Plain-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  --primary-color: #c60a11;
  --brown-color: #a47800;
  --white-color: #f7f8f7;
  --dark-color: #090806;
  --about-bg-color: #f9f9f9;

  --gray-color: #959494;
  --link-color: #252629;
  --p-color: #5d5d5d;

  --base-font-family: "Plain", sans-serif;
  --font-weight-bold: bold;
  --font-weight-normal: normal;
  --font-weight-light: 300;
  --font-weight-thin: 100;

  --h1-font-size: 48px;
  --h2-font-size: 36px;
  --h3-font-size: 28px;
  --h4-font-size: 24px;
  --h5-font-size: 22px;
  --h6-font-size: 22px;
  --p-font-size: 18px;
  --base-font-size: 16px;
  --menu-font-size: 14px;

  --border-radius-large: 100%;
  --border-radius-small: 2px;
}

body {
  background: var(--white-color);
  font-family: var(--base-font-family);
}

/*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-thin);
  line-height: normal;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
  letter-spacing: -1px;
  text-transform: uppercase;
  margin: 20px 0;
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
  letter-spacing: -2px;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-bold);
  letter-spacing: -1px;
  margin: 0;
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  color: var(--gray-color);
  font-size: var(--h6-font-size);
  line-height: inherit;
  margin: 0;
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
  line-height: 1.5em;
}

b,
strong {
  font-weight: var(--font-weight-bold);
  letter-spacing: 0;
}

.section {
  padding: 7rem 0;
}

/* BUTTON */

.custom-btn {
  background: transparent;
  border-radius: var(--border-radius-small);
  padding: 14px 24px;
  color: var(--white-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.custom-btn:hover {
  color: var(--primary-color);
}

.custom-btn:focus {
  box-shadow: none;
}

.custom-btn.bordered:hover,
.custom-btn.bordered:focus,
.custom-btn.bg-color:hover,
.custom-btn.bg-color:focus {
  background: var(--white-color);
  border-color: transparent;
  color: var(--primary-color);
}

.bordered {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.bg-color {
  background: var(--primary-color);
  color: var(--white-color);
}

/*---------------------------------------
     GENERAL               
  -----------------------------------------*/

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  font-weight: normal;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover,
a:active,
a:focus {
  color: var(--primary-color);
  outline: none;
  text-decoration: none;
}

/*---------------------------------------
   ALERT              
-----------------------------------------*/

.alert {
  display: flex;
  align-items: center;
  border: 2px solid #198754; /* Bootstrap's green color */
  background-color: #198754; /* Bootstrap's green success color */
  color: #fff;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: all 0.3s ease;
}

.alert .alert-content {
  flex-grow: 1;
}

.alert .btn-close {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.alert .btn-close:hover {
  color: #d4d4d4;
}

.alert i {
  color: #fff;
}

.alert-dismissible {
  padding-right: 40px;
}

.alert-dismissible .btn-close {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  line-height: 1;
}

/*---------------------------------------
   FOOTER              
-----------------------------------------*/

.site-footer {
  border-top: 1px solid #efebeb;
  padding: 3rem 0;
}

.site-footer a {
  color: var(--p-color);
  font-weight: var(--font-weight-light);
}

.site-footer p {
  font-size: var(--base-font-size);
}

.contact .fa,
.site-footer .fa {
  color: var(--primary-color);
}

/*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

.social-icon {
  position: relative;
  padding: 0;
  margin: 5px 0 0 0;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  text-decoration: none;
  display: inline-block;
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-bold);
  margin: 5px 10px;
  text-align: center;
}

.social-icon li a:hover {
  color: var(--primary-color);
}

/*---------------------------------------
   MENU             
-----------------------------------------*/

.navbar {
  background: var(--dark-color);
  padding: 1rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.navbar-brand {
  color: var(--white-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  padding-top: 0;
}

.navbar .navbar-brand:hover {
  color: var(--primary-color);
}

.nav-item .nav-link {
  display: block;
  color: var(--white-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
  padding: 2px 6px;
}

.nav-item .nav-link.active,
.nav-item .nav-link:hover {
  color: var(--primary-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0 10px 0 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease,
    -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--primary-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease,
    -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--primary-color);
  width: 30px;
  height: 2px;
  content: "";
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

.navbar-nav .nav-item.dropdown .dropdown-menu {
  background-color: #252629;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  color: #f7f8f7;
  padding: 10px 20px;
  border-radius: 8px;
}

.dropdown-item:hover {
  background-color: #a47800;
  color: #090806;
}

/*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

@media screen and (max-width: 992px) {
  .section {
    padding: 5rem 0;
  }

  .nav-item .nav-link {
    padding: 6px;
  }

  .navbar .social-icon {
    margin-top: 22px;
  }

  .navbar-collapse,
  .site-footer {
    text-align: center;
  }

  .schedule-table {
    display: block;
  }

  .modal-content {
    padding: 2rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 38px;
  }

  .about-working-hours {
    border-left: 0;
    padding: 22px 0 0 0;
  }

  .contact h2 span {
    display: block;
  }
}
